@import '~src/sass/toolkit';

.products-loader {
  display: block;
  position: relative;
  width: 80px;
  height: 80%;
  margin: 0 auto;
  opacity: .5;

  &-dot {
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: getTheme('loader');
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 8px;
      animation: products-loader1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: products-loader2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: products-loader2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: products-loader3 0.6s infinite;
    }
  }
}

@keyframes products-loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes products-loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes products-loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
