body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url($appBackgroundImage);
  background-color: getTheme('mainBackgroundColor');
  background-position: top left;
  background-size: cover;
  font-family: $appFontsFamily;
  font-weight: regular;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  @include medium-large-text;

  &.main {
    padding-bottom: 16px;
    border-bottom: 1px solid getTheme('headerBorder');
  }
}

h2 {
  color: getTheme('subHeader');
  letter-spacing: 0;
  font-weight: 300;
  @include table-header;

  & + * {
    margin-top: 16px;
  }
}

input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

.currency {
  margin-left: 4px;
}
