@use 'sass:map';

// ----------------------------------------------
// Edit theme settings below at your convenience
// ----------------------------------------------
// - Main Background Image
$appBackgroundImage         : '~/img/background.png';
// - Fonts family set
$appFontsFamily             : Avenir, 'Avenir Next', 'Segoe UI', sans-serif;
// - Theme color palette
$theme: (
  'mainBackgroundColor'     : #212240,
  'backgroundContainer'     : #ffffff,
  'loader'                  : #7350ff,
  'quantityButton'          : #7350ff,
  'quantityInput'           : #dbdbe0,
  'header'                  : #000000,
  'subHeader'               : #717285,
  'headerBorder'            : rgba(33, 34, 64, 0.16),
  'tableHeader'             : #a6a7b3,
  'asideBlockBorder'        : rgba(33, 34, 64, 0.16),
  'productName'             : #7350ff,
  'productPrice'            : #000000,
  'thumbsBorder'            : #cacad1,
  'summaryBackground'       : #f3f3f3,
  'summaryTextColor'        : #212240,
  'ctaColor'                : #ffffff,
  'ctaBackground'           : #7350ff,
);
// - Responsive threshold
$breakpoint                 : 760px;
