@import 'normalize';
@import 'toolkit';
@import 'grid';
@import 'layout';

.wrapper {
  padding: 32px 0;
}

.wrapper-half {
  padding: 24px 0;
}

.wrapper.border,
.wrapper-half.border {
  @include summary-block;
}


.summary ul li,
.summary-total-cost {
  @include medium-small-text;
}

.summary-total-price {
  @include large-text;
}

.summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: #f3f3f3;
  color: #212240;
}

.summary > * {
  width: 100%;
}

.summary-items-price {
  font-size: 16px;
  font-weight: bold;
}

.summary input {
  margin: 8px auto;
  color: #a6a7b3;
  text-indent: 16px;
  text-transform: uppercase;
}

.summary input::placeholder {
  color: #a6a7b3;
  text-transform: lowercase;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
}

.summary ul li > *:nth-child(2) {
  font-weight: bold;
}

.summary ul li + li {
  margin-top: 20px;
}

.summary-total {
  align-self: flex-end;
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 1px solid rgba(33, 34, 64, 0.16);
  color: #212240;
}

.summary-total-cost {
  flex-basis: 2;
  text-transform: uppercase;
}

.summary-total-price {
  font-weight: bold;
}

.summary button[type="submit"] {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;

  &:disabled {
    opacity: .4;
  }
}
